:root {
  --sand-tan: #e1b382;
  --sand-tan-shadow: #c89666;
  --night-blue: #2d545e;
  --night-blue-shadow: #12343b;
  --background: linear-gradient(
    var(--night-blue),
    var(--sand-tan),
    var(--sand-tan),
    var(--night-blue)
  );
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #fad1a5;
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  gap: 1%;
  padding: 5px;
  z-index: 3;
  background-color: var(--lightestblue);
}
.srch {
  width: 100%;
  display: flex;
  padding: 5px;
  flex: 2;
  border: 2px solid var(--darkestblue);
  border-radius: 10px;
}
header input {
  width: 100%;
  border: none;
  background-color: var(--lightestblue);
  color: var(--darkestblue);
  outline: none;
  font-size: 1.1em;
  flex: 1;
}

::placeholder {
  color: var(--darkestblue);
}

.h-img {
  transition: 0.5s;
}
.h-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* ..............................................................................section-1 */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    var(--night-blue),
    var(--sand-tan),
    var(--sand-tan-shadow)
  ); */
  height: 800px;
  /* overflow: hidden; */
}
section img {
  width: 98%;
  height: 98%;
  margin-top: 2%;
  border-radius: 30px;
}
h2 {
  position: absolute;
  bottom: 4%;
  right: 3%;
  color: var(--lightestblue);
  /* opacity: 0.5; */
  font-size: 4em;
}
/* .................................................................section-service */
.serv-img {
  width: 85%;
  height: 70%;
  border: 2px solid var(--sand-tan);
}
.services {
  display: flex;
  flex-direction: column;
  background-image: var(--background);

  align-items: center;
  border-radius: 30px;
  height: 500px;
  transition: all 1.3s;
}
.services:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.services h3 {
  color: var(--lightestblue);
  font-size: 2em;
}
.serv {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  height: auto;
  gap: 5%;
  margin-top: 3%;
  height: 1100px;
}
button {
  padding: 10px 30px;
  background-color: lightgreen;
  border-radius: 30px;
  margin-top: 3%;
  box-shadow: 2px 2px var(--blue);
  font-size: 20px;
}
button:hover {
  transform: scale(1.1);
  font-weight: bold;
}
/*.................................................... location(1)............................................................................. */
.mec-img {
  width: auto;

  position: absolute;
}
.img-position {
  display: flex;

  gap: 50%;

  width: 300%;
}
.img-size {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  z-index: 2;
  border: 2px solid var(--sand-tan);
  box-shadow: 3px 3px var(--sand-tan-shadow);
}
.img-size:hover {
  transform: scale(1.2);
  border: 2px solid var(--lightblue);
}
/* ........................................................Location....................................................... */
.map {
  width: 95%;
  height: 90%;
  margin-top: 7%;
  border-radius: 30px;
  border: 10px solid var(--night-blue);
}
.available {
  height: 65%;
  width: 40%;
  position: absolute;
  background-color: var(--night-blue);
  border-radius: 30px;
  right: 5%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.mec-avail {
  height: 90%;
  width: 95%;
  background-color: #fad1a5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  gap: 4%;
  padding: 10px;
}
.mec-avail h4 {
  font-size: 1.5em;
}
.avail-list {
  width: 95%;
  height: auto;
  display: flex;
  background-color: var(--sand-tan);
  border-radius: 30px;
  padding: 5px 15px;
  transition: all 1.2s;
  border: 2px solid var(--night-blue-shadow);
}
.avail-list:hover {
  background-color: var(--sand-tan-shadow);
  cursor: pointer;
  box-shadow: 1px 1px var(--night-blue-shadow);
  transform: scale(1.04);
}
.mec-profile {
  width: 30%;
  height: 90%;
}
/* /* .................................................booking...................................  */
.book {
  width: 100%;

  display: flex;
  gap: 3%;
  height: 50%;
  background-color: var(--blue);
  border-radius: 30px;
}
